<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script src='/js/script.js' defer></script>
</head>
<body>
    <div class="main">
        <div class="left-container">
            <div class="left-bar">
                <div class="presentation">
                    <div class="entete">
                        <i class="fa-solid fa-layer-group"></i>
                        <p class="app-name">Polyclinic Fultang</p>
                    </div>
                    
                    <div class="about">
                        <div class="welcome-image">
                            <div>
                            </div>
                        </div>
                        <div class="grade">
                            <p>welcome</p>
                            <p>Receptionist</p>
                            <div class="outside">
                                <a>Signout</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navigation">
                    <div class="nav-title">
                        <p>MAIN NAVIGATION</p>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="receptionniste.html">View Patient List</a>
                            </li>
                            <li>
                                <a href="add patient.html">Register New Patient</a>
                            </li>
                            <li>
                                <a href="#">Edit Patient profil</a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <div class="right-container">
            <header>
                <div class="logo">
                    <i class="fa-solid fa-layer-group"></i>
                    <p class="title">Polyclinic Fultang</p>
                </div>
                <div class="profil">
                    <p>Daren NDIZE</p>
                    <div class="profil-image">
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Receptionniste profil
                    </p>
                    <p class="page-title">
                        information du patient...
                    </p>
                </div>
                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>iD</h2>
                        <p>5</p>
                    </div>
                    <div class="colonne-info">
                        <h2>NOM</h2>
                        <p>Alex</p>
                    </div>
                    <div class="colonne-info">
                        <h2>PRENOM</h2>
                        <p>DIFFO</p>
                    </div>
                    <div class="colonne-info">
                        <h2>DATE DE NAISSANCE</h2>
                        <p>14-20-1990</p>
                    </div>
                    <div class="colonne-info">
                        <h2>SEXE</h2>
                        <p>MASCULIN</p>
                    </div>
                    <div class="colonne-info">
                        <h2>E-MAIL</h2>
                        <p>Alex@gmail.com</p>
                    </div>
                    <div class="colonne-info">
                        <h2>N° DE TELEPHONE</h2>
                        <p>6 35 22 14 74</p>
                    </div>
                    <div class="colonne-info">
                        <h2>N° DE CNI</h2>
                        <p>2SBUL6595S84884</p>
                    </div>
                </div>
                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>SERVICE</h2>
                        <p>Généraliste</p>
                    </div>
                    <div class="colonne-info">
                        <h2>CONDITION</h2>
                        <p>Non critique</p>
                    </div>
                </div>
                <div class="maj-profil">
                     <a href="">Modifer</a>
                     <a>Supprimer</a>
                </div>

            </div>
        </div>
         
    </div>
    
</body>
</html>



