<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-bars"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <p>welcome</p>
                    <p>Receptionist</p>
                    <div class="outside">
                        <a><i class="fa-solid fa-right-from-bracket"></i>Signout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    <li>
                        
                        <a href="receptionniste.html"><i class="fa-solid fa-list-ul"></i> View Patient List</a>
                    </li>
                    <li>
                        
                        <a href="add patient.html"><i class="fa-solid fa-person-circle-plus"></i> Register New Patient</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>

</div>