<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script src='/js/script.js' defer></script>
</head>
<body>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">
            
            <%- include("header") %>

            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Caissier profil
                    </p>
                    <p class="page-title">
                        créer consultation...
                    </p>
                </div>
                
                <form class="form" method="post">
                    <div class="formTitle">
                            Mr/Mme 
                            <%=patient.nom+'  '+patient.prenom %>
                         
                    </div>
                    
                    <div class="form-row">
                        <input type="hidden" name="patientId" value="<%=patient.id %>" />
                        <div class="fWidth">
                            <label>service</label>
                            <select class="focus" name="specialite" required >
                                <option selected disabled value="" style=" color: black ; font-weight: bold">choisir une option</option>
                                <option value="generaliste">Généraliste</option>
                                <option value="Spétialiste">Spétialiste</option>
                              
                            </select>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="fWidth">
                            <label>cout</label>
                            <input class="focus disable" id="montant"  value="" type="text" name="montant" required/>

                        </div>
                    </div>
                    
                    <button type="submit">
                        Valider 
                        <i class="fa-solid fa-circle-check"></i>
                    </button>
                </form>
            </div>
        </div>
         
    </div>

    <script>
        var select=document.querySelector(".form-row select")
        var montant=document.querySelector("#montant")
        var form=document.querySelector(".form")

        //changer le cout de consultation
        select.addEventListener("change",function(){
            if(select.selectedOptions[0].value=="generaliste" ){
                montant.value="2000"
            }else{
                montant.value="5000"
            }
        })

        //confirmer le payement
        form.addEventListener("submit",function(e){
            var decision= confirm("voulez vous vraiment creer une nouvelle consultation?")
            if(!decision){
                e.preventDefault()
            }
        })


    </script>
    
</body>
</html>