<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-layer-group"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <p>welcome</p>
                    <p>Labtechnician</p>
                    <div class="outside">
                        <a href="/fulltang/V0/deconnexion" id="deconnexion"><i class="fa-solid fa-right-from-bracket"></i>Signout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/fulltang/V0/labtechnician">Examens List</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/labtechnician/examen_history">Examens History</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>

</div>