<header>
    <div class="logo">
        <i class="fa-solid fa-layer-group"></i>
        <p class="title">Polyclinic Fultang</p>
    </div>
    <div class="profil">
        <p>Daren NDIZE</p>
        <div class="profil-image">
        </div>
    </div>
</header>