<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-layer-group"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <p>welcome</p>
                    <p>Generalist</p>
                    <div class="outside">
                        <a>Signout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/fulltang/V0/cashier">consultation List</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/doctor/consultation_history">consultation History</a>
                    </li>
                    <li>    
                        <a href="/fulltang/V0/cashier/exams">Exams List</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/cashier/exams_paid">Exams paid</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>

</div>