<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script src='/js/script.js' defer></script>
</head>
<body>
    <div class="preload"></div>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">
            
            <%- include("header") %>

            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Administrator profil
                    </p>
                    <p class="page-title">
                        enregistrer un examen...
                    </p>
                </div>
                <form class="model-form" method="post">
                    <div class="model-title">
                        Add Exam
                    </div>
                    
                    <div class="sigle-row">
                        <div>
                            <label>Nom</label>
                            <input class="focus" type="text" name="nom" required/>
                        </div>
                    </div>
                    <div class="sigle-row">
                        <div>
                            <label>Prix</label>
                            <input class="focus" type="number" name="prix" required/>
                        </div>
                    </div>
                    <div class="sigle-row">
                        <div>
                            <label>Libellé</label>
                            <textarea class="focus" name="libelle" required></textarea>
                        </div>
                    </div>
                    
                    
                    <input  type="submit" value="enregistrer"/>
                </form>
            </div>
        </div>
         
    </div>
    
</body>
</html>