<header>
    <div class="logo">
        <i class="fa-solid fa-layer-group"></i>
        <p class="title">Polyclinic Fultang</p>
    </div>
    <div class="profil">
        <a href="/fulltang/V0/administrator/profil">
            <p><%=user.prenom+" "+user.nom%></p>
            <img src="<%=user.url %>" class="profil-image">
        </a>
    </div>
</header>