<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-layer-group"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <p>welcome</p>
                    <p>Adiministrator</p>
                    <div class="outside">
                        <a href="/fulltang/V0/deconnexion" id="deconnexion" ><i class="fa-solid fa-right-from-bracket"></i>Signout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    <li class="section">
                        <a>Personnel</a>
                        <ul>
                            <li><a href="/fulltang/V0/administrator">Personnel List</a></li>
                            <li><a href="/fulltang/V0/administrator/add_personnel">Add personnel</a></li>
                        </ul>
                    </li>
                    <li class="section">
                        <a>Examens</a>
                        <ul>
                            <li><a href="/fulltang/V0/administrator/examen_list">Exams List</a></li>
                            <li><a href="/fulltang/V0/administrator/add_examen" >Add Exams</a></li>
                        </ul>
                        
                    </li>
                    <li class="section">
                        <a>Medicament</a>
                        <ul>
                            <li><a href="/fulltang/V0/administrator/medicament_list" >Medicament List</a></li>
                            <li><a href="/fulltang/V0/administrator/add_medicament" >Add Medicament</a></li>
                            
                        </ul>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>

</div>