<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script src='/js/script.js' defer></script>
</head>
<body>
    <div class="preload"></div>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">
            
            <%- include("header") %>

            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Administrator profil
                    </p>
                    <p class="page-title">
                        Modifer mot de passe...
                    </p>
                </div>
                
                <form class="model-form" id="change" method="post">
                    
                    <div class="model-title">
                        Modifier mot de passe
                    </div>
                    <% if(locals.message){ %>
                        <div class="sigle-row">
                            <div class="<%='notification '+type %>" >
                                <p>
                                    <%=message %>
                                </p>
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    <% } %>
                    <div class="sigle-row">
                        <div>
                            <label>Mot de passe actuel</label>
                            <input class="focus" type="password" id="password" name="password" required/>
                        </div>
                    </div>
                    <div class="sigle-row">
                        <div>
                            <label>Nouveau mot de passe</label>
                            <input class="focus" type="password" id="n_password" name="n_password" required/>
                        </div>
                    </div>
                    <div class="sigle-row">
                        <div>
                            <label>Confirmer mot de passe</label>
                            <input class="focus" type="password" id="c_password" name="c_password" required/>
                        </div>
                    </div>
                     
                    <input  type="submit" value="enregistrer"/>
                </form>
            </div>
        </div>
         
    </div>
    
</body>
</html>